@import "variables";

header {
  background-color: $primary;
  padding: 0.5rem;

  > div {
    width: 1080px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .meli-logo {
    display: flex;
  }
}
