@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: $baseFontSize;
}

body {
  height: 100vh;

  color: $offBlack;
  font-family: $appFontFamily, $customFontFamilies;
  text-rendering: optimizeLegibility;
  background-color: $lightGray;
}
